@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
.application-block{
    background: linear-gradient(rgba(29, 29, 29, 0.7), rgba(43, 43, 43, 0.7)), url("https://images.unsplash.com/photo-1592280771190-3e2e4d571952?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y29sbGVnZSUyMGJ1aWxkaW5nfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
    background-size: cover;
    width: 100%;
    height: auto;
}
.banner-sec{
    margin-bottom: 20px; 
    background-size:cover; 
    min-height:50px; 
    padding:0;}
.container{ background:#fff; border-radius: 10px; box-shadow:15px 20px 0px rgba(0,0,0,0.1); width: 60%; }
.form-sec{padding: 50px 30px; position:relative; }
.form-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
.form-sec .copy-text i{color:#FEB58A;}
.form-sec .copy-text a{color:#E36262;}
.form-sec h2, h4{margin-bottom:10px; margin-top: 10px; font-weight:800; color: #DE6262;}
.form-sec h2:after{content:" "; width:100px; height:5px; background:#FEB58A; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
.btn-education{background: #DE6262; color:#fff; font-weight:600; float: center; margin-top:10px;}
.btn-submit{background: #DE6262; color:#fff; font-weight:600; float: right; margin-top:10px;}
label {margin-bottom:15px; margin-top: 15px; font-weight:500; color: #DE6262;}
.address-class {
margin-top: 10px;
margin-bottom:10px; 
}
