<section class="application-block">
  <div class="col-md-12 banner-sec">  
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-md-12 form-sec">
        <h2 class="text-center text-uppercase">XYZ College - Application Form</h2>
          <form
            [formGroup]="collegeForm"
            (ngSubmit)="onSubmit()"
          >
            <h4 class="text-left">Personal Details</h4>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <label class="text-uppercase">Full Name *</label>
                    <input
                      type="text"
                      placeholder = "Enter full name"
                      formControlName="fullName"
                      class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f['fullName'].errors }"
                    />
                      <div class="alert alert-danger" *ngIf="submitted && f['fullName'].errors?.['required']">Full name is required</div>
                      <div class="alert alert-danger" *ngIf="submitted && f['fullName'].errors?.['pattern']">Invalid full name.</div>
                  </div>
                  
                  <div class="col-md-3">          
                    <label class="text-uppercase">Gender *</label>
                      <div class="radio-inline" [ngClass]="{'is-invalid': submitted && f['gender'].errors}">
                        <input type="radio" value="Male" formControlName="gender">
                          <span> Male </span>
                        <input type="radio" value="Female" formControlName="gender">
                          <span> Female </span>
                        <input type="radio" value="Other" formControlName="gender">
                          <span> Other </span>
                      </div>
                        <div class="alert alert-danger" *ngIf="submitted && f['gender'].errors?.['required']">Gender is required.</div>
                  </div>

                  <div class="col-md-3">
                    <label class="text-uppercase" [ngClass]="{'is-invalid': submitted && f['dob'].errors}">Date of birth *</label>
                      <input
                        type="date"
                        class="form-control"
                        [max]="maxDate"
                        (change)="onDateChange"
                        formControlName="dob"
                        [ngClass]="{'is-invalid': submitted && f['dob'].errors}"
                      />            
                        <div *ngIf="submitted && f['dob'].errors?.['required']" class="alert alert-danger">Date of birth is required.</div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <label class="text-uppercase">Marital Status *</label>
                      <div class="radio-inline" [ngClass]="{'is-invalid': submitted && f['maritalStatus'].errors}">
                        <input
                          type="radio"
                          value="Married"
                          formControlName="maritalStatus"                          
                        />
                          <span> Married </span>
                        <input
                          type="radio"
                          value="Unmarried"
                          formControlName="maritalStatus"
                        />
                          <span> Unmarried </span>
                      </div>                      
                        <div class="alert alert-danger" *ngIf="submitted && f['maritalStatus'].errors?.['required']">Marital status is required.</div>                      
                  </div>

                  <div class="col-md-4">
                    <label class="text-uppercase">Caste *</label>
                      <select 
                        class="form-control" 
                        formControlName="caste"
                        [ngClass]="{'is-invalid': submitted && f['caste'].errors}"
                      >
                        <option value="">Choose...</option>
                        <option *ngFor="let i of castes" >{{i}}</option>
                      </select>
                      <div class="alert alert-danger" *ngIf="submitted && f['caste'].errors?.['required']">Caste is required.</div>
                    </div>

                </div>
              </div>

            <h4 class="text-left">Contact Details</h4>
              <div class = "row">
                <div class=" col-md-4 form-group">
                  <label class="text-uppercase" [ngClass]="{'is-invalid': submitted && f['email'].errors}">Email *</label>
                    <input 
                      type="text" 
                      class="form-control" 
                      formControlName="email" 
                      placeholder="Enter email id"
                      [ngClass]="{'is-invalid': submitted && f['email'].errors}"
                    />
                      <div class="alert alert-danger" *ngIf="submitted && f['email'].errors?.['required']">Email is required.</div>
                      <div class="alert alert-danger" *ngIf="submitted && f['email'].errors?.['email']">Email is invalid.</div>  
                </div>

              <div class="col-md-4 form-group">
                <label class="text-uppercase">Phone Number *</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="phoneNumber"
                    placeholder="Enter 10-digit mobile number"
                    [ngClass]="{'is-invalid': submitted && f['phoneNumber'].errors}"
                  />
                    <div class="alert alert-danger" *ngIf="submitted && f['phoneNumber'].errors?.['required']">Phone number is required.</div>  
                    <div class="alert alert-danger" *ngIf="submitted && f['phoneNumber'].errors?.['pattern']">Phone number must be a 10-digit number.</div>
              </div>

              <div class="col-md-8 form-group" formGroupName="address">
                <label class="text-uppercase">Address</label>
                  <input 
                    type="text" 
                    class="form-control address-class" 
                    formControlName="streetLine1" 
                    placeholder="Street Line 1 *"
                    [ngClass]="{'is-invalid': submitted && f['address'].get('streetLine1')?.errors}"
                  />
                    <div class="alert alert-danger" *ngIf="submitted && f['address'].get('streetLine1')?.errors?.['required']">Street line is required.</div>
                  <input 
                    type="text" 
                    class="form-control address-class" 
                    formControlName="streetLine2" 
                    placeholder="Street Line 2"
                  />
                  <input 
                    type="text" 
                    class="form-control address-class" 
                    formControlName="city" 
                    placeholder="City *"
                    [ngClass]="{'is-invalid': submitted && f['address'].get('city')?.errors}"
                  />
                    <div class="alert alert-danger" *ngIf="submitted && f['address'].get('city')?.errors?.['required']">City is required.</div>
                    <div class="alert alert-danger" *ngIf="submitted && f['address'].get('city')?.errors?.['pattern']">Invalid city name.</div>
                  <input 
                    type="text" 
                    class="form-control address-class" 
                    formControlName="state" 
                    placeholder="State *"
                    [ngClass]="{'is-invalid': submitted && f['address'].get('state')?.errors}"
                  />
                    <div class="alert alert-danger" *ngIf="submitted && f['address'].get('state')?.errors?.['required']">State is required.</div>
                    <div class="alert alert-danger" *ngIf="submitted && f['address'].get('state')?.errors?.['pattern']">Invalid state name.</div>
                  <input 
                    type="text" 
                    class="form-control address-class" 
                    formControlName="zip" 
                    placeholder="Zip *"
                    [ngClass]="{'is-invalid': submitted && f['address'].get('zip')?.errors}"
                  />
                    <div class="alert alert-danger" *ngIf="submitted && f['address'].get('zip')?.errors?.['required']">Zip is required.</div>
                    <div class="alert alert-danger" *ngIf="submitted && f['address'].get('zip')?.errors?.['pattern']">Zip should be a 6-digits number.</div>
                </div>
              </div>

              <h4 class="text-left">Education Details</h4>
              <div class="row">
                <div class="col-md-3">
                  <button class="btn btn-education" type="button" (click)='addEducation()'>Add Education</button>
                </div>
              </div>
                <div formArrayName="education">            
                  <div *ngFor="let edForm of education.controls; let i = index">
                    <div [formGroupName]="i">
                      <div class="row">
                        <div class="form-group col-md-8">
                          <label class="text-uppercase">School Name *</label>
                          <input 
                            type="text" 
                            class="form-control" 
                            formControlName="schoolName"
                            placeholder="Enter school name"
                            [ngClass]="{'is-invalid': submitted && f['education'].get('schoolName')?.errors}"
                          />   
                            <div class="alert alert-danger" *ngIf="submitted && education.controls[i].get('schoolName')?.hasError('required')">School name is required.</div>
                            <div class="alert alert-danger" *ngIf="submitted && education.controls[i].get('schoolName')?.hasError('pattern')">School name is invalid.</div>                          </div>
                        <div class="form-group col-md-4">      
                          <label class="text-uppercase">Percentile *</label>
                          <input 
                            type="number" 
                            class="form-control" 
                            formControlName="percentile" 
                            placeholder="Enter mark percentile"
                            [ngClass]="{'is-invalid': submitted && f['education'].get('percentile')?.errors}"
                          />
                            <div class="alert alert-danger" *ngIf="submitted && education.controls[i].get('percentile')?.errors?.['required']">Percentile is required.</div>
                            <div class="alert alert-danger" *ngIf="submitted && education.controls[i].get('percentile')?.errors?.['max']">Percentile cannot be more than 100.</div>
                        </div>
                      

                      <div class="row">
                        <div class="form-group col-md-6">
                        <label class="text-uppercase">Course of study *</label>
                        <input 
                          type="text" 
                          class="form-control" 
                          formControlName="courseOfStudy" 
                          placeholder="Enter course of study"
                          [ngClass]="{'is-invalid': submitted && f['education'].get('courseOfStudy')?.errors}"
                        />
                          <div class="alert alert-danger" *ngIf="submitted && education.controls[i].get('courseOfStudy')?.errors?.['required']">Course of study is required.</div>
                          <div class="alert alert-danger" *ngIf="submitted && education.controls[i].get('courseOfStudy')?.errors?.['pattern']">Course of study is invalid.</div>
                        </div>
                        <div class="form-group col-md-3">
                          <label class="text-uppercase">Start date *</label>
                          <input 
                            type="date" 
                            class="form-control" 
                            formControlName="startDate"   
                            [max]="maxDate"
                            (change)="onDateChange()"                          
                            placeholder="Enter course start date"
                            [ngClass]="{'is-invalid': submitted && f['education'].get('startDate')?.errors}"
                          />
                            <div class="alert alert-danger" *ngIf="submitted && education.controls[i].get('startDate')?.errors?.['required']">Start date is required.</div>
                        </div>
                      <div class="form-group col-md-3">
                        <label class="text-uppercase">Graduation date *</label>
                        <input 
                          type="date" 
                          class="form-control" 
                          formControlName="endDate"
                          min="startDate" 
                          max="maxDate"
                          (change)="onDateChange()"  
                          placeholder="Enter graduation date or tentative graduation date if still pursuing"
                          [ngClass]="{'is-invalid': submitted && f['education'].get('endDate')?.errors}"
                        />
                          <div class="alert alert-danger" *ngIf="submitted && education.controls[i].get('endDate')?.errors?.['required']">Graduation date is required.</div>
                    </div> 
                  </div>                        
                </div>
              </div>
            </div>
          </div>
          
        <h4 class="text-left">Application Details</h4>
          <div class="row">
            <div class="form-group col-md-4">
              <label class="text-uppercase">Application Type *</label>
              <select 
                class="form-control" 
                formControlName="appType"              
                [ngClass]="{'is-invalid': submitted && f['appType'].errors}"
              >
                <option value="">Choose...</option>
                <option *ngFor="let i of appTypes">{{i}}</option>
              </select>
                <div class="alert alert-danger" *ngIf="submitted && f['appType'].errors?.['required']">Application type is required.</div>
            </div>

            <div class="form-group col-md-4">
              <label class="text-uppercase">Course applied for *</label>
              <select 
                class="form-control" 
                formControlName="course"
                [ngClass]="{'is-invalid': submitted && f['course'].errors}"
              >
                <option value="">Choose...</option>
                <option *ngFor="let i of courses">{{i}}</option>
              </select>
                <div class="alert alert-danger" *ngIf="submitted && f['course'].errors?.['required']">Course applied for is required.</div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-uppercase">Why do you think you would be an ideal candidate for our institution?</label>
            <textarea
              class="form-control"
              formControlName="message"
              rows="4"
              placeholder="Character limit - 600"
              [ngClass]="{'is-invalid': submitted && f['message'].errors}"
            >
            </textarea>
              <div class="alert alert-danger" *ngIf="submitted && f['message'].errors?.['maxLength']">Text cannot exceed 600 characters.</div>
          </div>

          <button
            type="submit"
            class="btn btn-submit"
            (click)="onSubmit"
          >
            SUBMIT
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-12 banner-sec">  
  </div>  
</section>
